.backg2{
	background-image: url(../images/bj2.png);
	height: 290px;
	width:100%;
}
main section aside div{
	width:480px;
	height: 340px;
	/*float: left;*/
	display: inline-block;
	margin: 5px;
	margin-top:10px;
}
aside{
		height:350px;
}
main section:nth-of-type(1){
	height:350px;
}
table{
	 margin-top:20px;
}
h2{
	margin:0;
	font-weight: normal;
}
.lunbo{
	width:90%;
	height:200px;
	position: relative;
	
}
.lunbo{
	width: 1245px;
	height: 100%;
	font-size: 0;
	position: relative;
	top: 0;
	left: 0;
}

.lunbo>img{
			width: 365px;
			height: 200px;
			margin-left:50px;
			margin-top:10px;
		}

.marquee{
	width: 830px;
			height: 250px;
			margin: 20px auto;
			overflow: hidden;
			position: relative;
			box-shadow: 2px 2px 5px #999;
}  