.backg2{
	background-image: url(../images/bj2.png);
	height: 290px;
	width:100%;
}
main section aside div{
	width:480px;
	height: 340px;
	/*float: left;*/
	display: inline-block;
	margin: 5px;
	margin-top:10px;
}
aside{
		height:350px;
}
main section:nth-of-type(1){
	height:350px;
}
table{
	 margin-top:20px;
}
h2{
	margin:0;
	font-weight: normal;
}
.lunbo{
	width:90%;
	height:200px;
	position: relative;
	
}
.lunbo div:nth-of-type(1){
	animation-name:move;
                animation-duration:5s;
                animation-iteration-count:infinite;
                animation-timing-function:linear;
                position:relative;
	width:250px;
	height:140px;
	background: red;
	float: left;
	background-size: 100%;
	background-position: center;
	margin-left:10px;
	left:-400px;
}
.lunbo div:nth-of-type(2){
	animation-name:move;
                animation-duration:5s;
                animation-iteration-count:infinite;
                animation-timing-function:linear;
                position:relative;
	width:250px;
	height:140px;
	background: red;
	float: left;
	background-size: 100%;
	background-position: center;
	margin-left:10px;
	left:-200px;
}
.lunbo div:nth-of-type(3){
	animation-name:move;
                animation-duration:5s;
                animation-iteration-count:infinite;
                animation-timing-function:linear;
                position:relative;
	width:250px;
	height:140px;
	background: red;
	float: left;
	background-size: 100%;
	background-position: center;
	margin-left:10px;
	left:-200px;
}
@keyframes move{
                0%{left:-300px;}
                /*50%{left:100px;}*/
                100%{left:500px;}
            }
            
          